*{
	box-sizing: border-box;
	margin: 0;
	background: #F5EFFF;
}

body {
	font-family: Kalam;
	height: 100%;
	
	
	position: relative;
	width: 1440px;
	height: 1024px;
	
	background: url(federico-respini-sYffw0LNr7s-unsplash.jpg);

}

header {
	background:#E69949;
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    height: 160px;
    margin: 0 auto;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

/* Nav Bar */
nav-items{
	display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

ul {
	list-style:none;
	display: flex;
}

main {
	position: absolute;
	width: 742px;
	height: 490px;
	left: 693px;
	top: 339px;
	text-align:center;

	color: #000000;
}

h1 {
	font-size: 50px;
	font-weight: bold;
}

h2 {
	font-size: 35px;
	line-height: 56px;
}