*{
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: Kalam;

	position: relative;
	width: 100vw;
	height: 100vh;
}

header {
	background: #E69949;
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    height: 160px;
    margin: 0 auto;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

/* Nav Bar */
nav {
	position:absolute;
	top:0;
	right:0;
	display:flex;
	flex-direction:row-reverse;
	width:40vw;
	height:50px;
	align-items:center;
	justify-content:flex-start;
	gap: 20px;
	margin-right:20px;
}

nav a {
	color:white;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	background-color: #5D5F71;
}

nav a img {
	width:32px;
	height:32px;
	border-radius:50%;
	object-fit: contains;
	background-color:white;
}

nav a:hover {
	background-color:#ffffff75;
	color:black;
	border-radius:3px;
}

main {
	background-image: url("/Uplift/images/background-img.png");
	background-size:cover;
	background-position:50% 50%;
	width:100vw;
	height:100vh;
	display:flex;
}

main text {
	display: flex;
	align-items: center;
	text-align: center;
	position: absolute;
	width: 742px;
	height: 490px;
	left: 93px;
	top: 224px;
}

h1 {
	font-size: 45px;
	color: #000000;
}

h2 {
	font-size: 35px;
	color: #FFFFFF;
}

main form {
	display:flex;
	flex-direction:column;
	gap:20px;
	margin-bottom:20px;
	width:320px;
}

main form input {
	width:100%;
	padding:0.5em;
	box-sizing:border-box;
	border-radius:3px;
	border:none;
}

main form input[type=submit]:hover {
	background-color:#dfdfdf;
	cursor:pointer;
}