*{
	box-sizing: border-box;
	margin: 0;
	background: #F5EFFF;
}

body {
	font-family: Kalam;
	height: 100%;
	
	
	position: relative;
	width: 100vw;
	height: 100vh;
	
	background: url(federico-respini-sYffw0LNr7s-unsplash.jpg);

}

header {
	background:#E69949;
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    height: 160px;
    margin: 0 auto;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

/* Nav Bar */